# Ignore Vim temporary files
.*.sw?

# Maven
target/

# Vagrant
.vagrant

# IntelliJ
.idea/
*.iml

# Eclipse
.project

# VSCode
.vscode

# NPM / NodeJS
_cacache/
anonymous-cli-metrics.json

# Python
.cache/
.eggs/
.pytest_cache/
.tox/
.venv/
__pycache__/
*.egg-info/
*.pyc
docs/_build/
dist/
MANIFEST

# PBR
AUTHORS
ChangeLog

# Reno
RELEASENOTES.rst
reno.cache
