[access]
	inheritFrom = releng
[project]
	description = Release Engineering tools used across Linux Foundation projects

[access "refs/*"]
	read = group GitHub Replication
[plugin "slack-integration"]
	channel = releng
	enabled = true
	username = LF-Gerrit
	webhookurl = https://hooks.slack.com/services/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
