click
pyyaml
requests!=2.13.0
setuptools>=11.3
shade
sphinx>=1.4.9
sphinxcontrib-programoutput
sphinx_bootstrap_theme>=0.4.14
python-jenkins

# workarounds to prevent upstream from breaking us
babel<2.4.0
pbr<2.1.0
