bs4
click
defusedxml # Needed due to tox complains on parseString not safe
docker
email_validator
httplib2
jsonschema
lxml
oauth2client
pygerrit2
pygithub
python-jenkins
pyyaml
requests
ruamel.yaml
setuptools>=36.5.0
six
tabulate
tqdm
xdg==3.0.2
